In [1]:
import convert as c
import pandas as pd

## Beautiful Burger Buns

Reference: https://www.kingarthurbaking.com/recipes/beautiful-burger-buns-recipe

### Ingredients (./configure)

In [2]:
flour = c.flour(420,"grams")
water = c.water(227,"grams")
oil = c.oil(28,"grams")
sugar = c.sugar(50,"grams")
salt = c.salt(1.5,"grams")
yeast = c.yeast(9,"grams")

### Combine Ingredients (make)

In [3]:
buns = pd.concat([flour,water,oil,sugar,salt,yeast])
buns.loc['Total'] = buns.sum()

In [4]:
buns

,grams,tbsp,cup,cost,unit_cost,unit_quantity,calories
flour,420.0,52.500000,3.281250,0.239735,1.29,0.185841,1680.0
water,227.0,15.352360,0.959523,0.000000,0.00,0.000000,0.0
oil,28.0,1.971831,0.123239,0.186386,13.28,0.014035,252.0
sugar,50.0,4.166667,0.260417,0.060497,2.19,0.027624,187.5
salt,1.5,0.083333,0.005208,0.000916,0.45,0.002035,0.0
yeast,9.0,1.000000,0.031250,0.078502,7.92,0.009912,0.0
Total,735.5,75.074191,4.660887,0.566036,25.13,0.239447,2119.5

### Deploy Buns

#### Set Constraints

In [5]:
buns / 2 # lets make a half recipe

,grams,tbsp,cup,cost,unit_cost,unit_quantity,calories
flour,210.00,26.250000,1.640625,0.119867,0.645,0.092920,840.00
water,113.50,7.676180,0.479761,0.000000,0.000,0.000000,0.00
oil,14.00,0.985915,0.061620,0.093193,6.640,0.007018,126.00
sugar,25.00,2.083333,0.130208,0.030249,1.095,0.013812,93.75
salt,0.75,0.041667,0.002604,0.000458,0.225,0.001018,0.00
yeast,4.50,0.500000,0.015625,0.039251,3.960,0.004956,0.00
Total,367.75,37.537096,2.330443,0.283018,12.565,0.119724,1059.75

In [6]:
2466 / 250 # divid into 250 cal pieces

9.864

In [7]:
851 / 10

85.1

In [8]:
2119.5 / 250

8.478

### Bakers Percentage

In [9]:
import bakers_percentage as bp
bp.calc(buns)

,grams,tbsp,cup,cost,unit_cost,unit_quantity,calories,bakers percentage
flour,420.0,52.500000,3.281250,0.239735,1.29,0.185841,1680.0,
water,227.0,15.352360,0.959523,0.000000,0.00,0.000000,0.0,54.047619
oil,28.0,1.971831,0.123239,0.186386,13.28,0.014035,252.0,6.666667
sugar,50.0,4.166667,0.260417,0.060497,2.19,0.027624,187.5,
salt,1.5,0.083333,0.005208,0.000916,0.45,0.002035,0.0,0.357143
yeast,9.0,1.000000,0.031250,0.078502,7.92,0.009912,0.0,2.142857
Total,735.5,75.074191,4.660887,0.566036,25.13,0.239447,2119.5,