In [9]:
import convert as c
import pandas as pd

In [10]:
name = "flour"
grams = 2260 # How much does the recipe call for in grams?
grams_in_tbsp = 8 # How many grams are in a tablespoon?
unit_cost = 1.29 # Total cost of a single packaged item?
unit_size_grams = 2260 # Total size of packaged item in grams
calories = 4 # calories of item in grams

In [11]:
flour = c.ingredient(name,grams,grams_in_tbsp,unit_cost,unit_size_grams,calories)
flour

       grams   tbsp       cup  cost  unit_cost  unit_quantity  calories
flour   2260  282.5  17.65625  1.29       1.29            1.0      9040

In [13]:
flour = c.flour(2260,"grams")
flour

       grams   tbsp       cup  cost  unit_cost  unit_quantity  calories
flour   2260  282.5  17.65625  1.29       1.29            1.0      9040