In [1]:
import convert as c
import pandas as pd

## Pancakes

Reference: https://www.allrecipes.com/recipe/21014/good-old-fashioned-pancakes/

### Ingredients (./configure)

In [2]:
flour = c.flour(1.5,"cups")
water = c.water(1.25,"cups")
oil = c.oil(3,"tbsp")
sugar = c.sugar(1,"tbsp")
salt = c.salt(0.3,"tbsp")
milk = c.milk(2,"tbsp")
baking_powder = c.baking_powder(1.3,"tbsp")

Note: +1 egg per standard recipe

### Combine Ingredients (make)

In [3]:
pancakes = pd.concat([flour,water,oil,sugar,salt,milk,baking_powder])
pancakes.loc['Total'] = pancakes.sum()

### Deploy Pancakes

#### Set Constraints

In [4]:
pancakes / 2 # lets make a half recipe

,grams,tbsp,cup,cost,unit_cost,unit_quantity,calories
flour,96.00,12.00,0.750000,0.054796,0.645,0.042478,384.0
water,147.86,10.00,0.625000,0.000000,0.000,0.000000,0.0
oil,21.30,1.50,0.093750,0.141786,6.640,0.010677,191.7
sugar,6.00,0.50,0.031250,0.007260,1.095,0.003315,22.5
salt,2.70,0.15,0.009375,0.001649,0.225,0.003664,0.0
milk,7.00,1.00,0.062500,0.154108,9.995,0.007709,35.0
baking powder,9.36,0.65,0.040625,0.216656,3.935,0.027529,0.0
Total,290.22,25.80,1.612500,0.576256,22.535,0.095372,633.2

In [5]:
2466 / 250 # divid into 250 cal pieces

9.864

In [6]:
pancakes

,grams,tbsp,cup,cost,unit_cost,unit_quantity,calories
flour,192.00,24.0,1.50000,0.109593,1.29,0.084956,768.0
water,295.72,20.0,1.25000,0.000000,0.00,0.000000,0.0
oil,42.60,3.0,0.18750,0.283573,13.28,0.021353,383.4
sugar,12.00,1.0,0.06250,0.014519,2.19,0.006630,45.0
salt,5.40,0.3,0.01875,0.003297,0.45,0.007327,0.0
milk,14.00,2.0,0.12500,0.308216,19.99,0.015419,70.0
baking powder,18.72,1.3,0.08125,0.433313,7.87,0.055059,0.0
Total,580.44,51.6,3.22500,1.152511,45.07,0.190743,1266.4