In [1]:
import convert as c
import pandas as pd

## Basic Bread

Reference: https://www.youtube.com/watch?v=ycztOGTIX-s

### Ingredients

In [2]:
flour = c.flour(7,"cups")
water = c.water(2.4,"cups")
oil = c.oil(7,"tbsp")
sugar = c.sugar(7,"tbsp")
salt = c.salt(1,"tbsp")
yeast = c.yeast(1,"tbsp")
milk = c.milk(4,"tbsp")

### Make Bread

In [3]:
bread = pd.concat([flour,water,oil,sugar,salt,yeast,milk])
bread.loc['Total']= bread.sum()

In [4]:
bread

           grams   tbsp      cup      cost  unit_cost  unit_quantity  calories
flour   896.0000  112.0   7.0000  0.511434       1.29       0.396460    3584.0
water   567.7824   38.4   2.4000  0.000000       0.00       0.000000       0.0
oil      99.4000    7.0   0.4375  0.661670      13.28       0.049825     894.6
sugar    84.0000    7.0   0.4375  0.101635       2.19       0.046409     315.0
salt     18.0000    1.0   0.0625  0.010991       0.45       0.024423       0.0
yeast     9.0000    1.0   0.0625  0.078502       7.92       0.009912       0.0
milk     28.0000    4.0   0.2500  0.616432      19.99       0.030837     140.0
Total  1702.1824  170.4  10.6500  1.980664      45.12       0.557866    4933.6

## Biscuits

Reference: https://sugarspunrun.com/easy-homemade-biscuits/

### Ingredients

In [5]:
flour = c.flour(2,"cups")
sugar = c.sugar(1,"tbsp")
salt = c.salt(0.3,"tbsp")
oil = c.oil(6,"tbsp")
water = c.water(0.75,"cups")
milk = c.milk(2,"tbsp")
baking_powder = c.baking_powder(1,"tbsp")

### Make Biscuits

In [6]:
biscuits = pd.concat([flour,water,oil,sugar,salt,milk,baking_powder])
biscuits.loc['Total']= biscuits.sum()

In [7]:
biscuits

,grams,tbsp,cup,cost,unit_cost,unit_quantity,calories
flour,256.000,32.0,2.00000,0.146124,1.29,0.113274,1024.0
water,177.432,12.0,0.75000,0.000000,0.00,0.000000,0.0
oil,85.200,6.0,0.37500,0.567146,13.28,0.042707,766.8
sugar,12.000,1.0,0.06250,0.014519,2.19,0.006630,45.0
salt,5.400,0.3,0.01875,0.003297,0.45,0.007327,0.0
milk,14.000,2.0,0.12500,0.308216,19.99,0.015419,70.0
baking powder,14.400,1.0,0.06250,0.333318,7.87,0.042353,0.0
Total,564.432,54.3,3.39375,1.372620,45.07,0.227709,1905.8

In [8]:
biscuits / 3.8

,grams,tbsp,cup,cost,unit_cost,unit_quantity,calories
flour,67.368421,8.421053,0.526316,0.038454,0.339474,0.029809,269.473684
water,46.692632,3.157895,0.197368,0.000000,0.000000,0.000000,0.000000
oil,22.421053,1.578947,0.098684,0.149249,3.494737,0.011239,201.789474
sugar,3.157895,0.263158,0.016447,0.003821,0.576316,0.001745,11.842105
salt,1.421053,0.078947,0.004934,0.000868,0.118421,0.001928,0.000000
milk,3.684211,0.526316,0.032895,0.081109,5.260526,0.004058,18.421053
baking powder,3.789474,0.263158,0.016447,0.087715,2.071053,0.011146,0.000000
Total,148.534737,14.289474,0.893092,0.361216,11.860526,0.059924,501.526316

## Survival Calculations

In [9]:
people = 2
calories_desired = 1000
survival_months = 6

In [10]:
survival_calories = (survival_months * 30) * (calories_desired) * people 
survival_calories

360000

In [11]:
bread_calories = bread.loc['Total', 'calories'] 
bread_calories

4933.6

In [12]:
biscuits_calories = biscuits.loc['Total', 'calories'] 
biscuits_calories

1905.8

In [13]:
survival_calories / (bread_calories + biscuits_calories)

52.63619615755768

In [14]:
biscuits * 52

,grams,tbsp,cup,cost,unit_cost,unit_quantity,calories
flour,13312.000,1664.0,104.000,7.598442,67.08,5.890265,53248.0
water,9226.464,624.0,39.000,0.000000,0.00,0.000000,0.0
oil,4430.400,312.0,19.500,29.491585,690.56,2.220752,39873.6
sugar,624.000,52.0,3.250,0.755006,113.88,0.344751,2340.0
salt,280.800,15.6,0.975,0.171452,23.40,0.381004,0.0
milk,728.000,104.0,6.500,16.027225,1039.48,0.801762,3640.0
baking powder,748.800,52.0,3.250,17.332518,409.24,2.202353,0.0
Total,29350.464,2823.6,176.475,71.376227,2343.64,11.840888,99101.6

In [15]:
bread * 52

,grams,tbsp,cup,cost,unit_cost,unit_quantity,calories
flour,46592.0000,5824.0,364.00,26.594549,67.08,20.615929,186368.0
water,29524.6848,1996.8,124.80,0.000000,0.00,0.000000,0.0
oil,5168.8000,364.0,22.75,34.406849,690.56,2.590877,46519.2
sugar,4368.0000,364.0,22.75,5.285039,113.88,2.413260,16380.0
salt,936.0000,52.0,3.25,0.571506,23.40,1.270014,0.0
yeast,468.0000,52.0,3.25,4.082115,411.84,0.515419,0.0
milk,1456.0000,208.0,13.00,32.054449,1039.48,1.603524,7280.0
Total,88513.4848,8860.8,553.80,102.994506,2346.24,29.009022,256547.2

In [16]:
bread * 47

,grams,tbsp,cup,cost,unit_cost,unit_quantity,calories
flour,42112.0000,5264.0,329.0000,24.037381,60.63,18.633628,168448.0
water,26685.7728,1804.8,112.8000,0.000000,0.00,0.000000,0.0
oil,4671.8000,329.0,20.5625,31.098498,624.16,2.341754,42046.2
sugar,3948.0000,329.0,20.5625,4.776862,102.93,2.181215,14805.0
salt,846.0000,47.0,2.9375,0.516554,21.15,1.147897,0.0
yeast,423.0000,47.0,2.9375,3.689604,372.24,0.465859,0.0
milk,1316.0000,188.0,11.7500,28.972291,939.53,1.449339,6580.0
Total,80002.5728,8008.8,500.5500,93.091189,2120.64,26.219693,231879.2

In [17]:
123340.0 / 500

246.68

In [18]:
246.68 / 8

30.835

In [19]:
biscuits

,grams,tbsp,cup,cost,unit_cost,unit_quantity,calories
flour,256.000,32.0,2.00000,0.146124,1.29,0.113274,1024.0
water,177.432,12.0,0.75000,0.000000,0.00,0.000000,0.0
oil,85.200,6.0,0.37500,0.567146,13.28,0.042707,766.8
sugar,12.000,1.0,0.06250,0.014519,2.19,0.006630,45.0
salt,5.400,0.3,0.01875,0.003297,0.45,0.007327,0.0
milk,14.000,2.0,0.12500,0.308216,19.99,0.015419,70.0
baking powder,14.400,1.0,0.06250,0.333318,7.87,0.042353,0.0
Total,564.432,54.3,3.39375,1.372620,45.07,0.227709,1905.8

In [20]:
c.ingredient("baking powder",20,14.4,7.87,340)

,grams,tbsp,cup,cost,unit_cost,unit_quantity,calories
baking powder,20,1.388889,0.086806,0.462941,7.87,0.058824,0

In [21]:
c.baking_powder(340,"grams")

,grams,tbsp,cup,cost,unit_cost,unit_quantity,calories
baking powder,340,23.611111,1.475694,7.87,7.87,1.0,0