In [1]:
import convert as c
import pandas as pd

## Basic Bread

Reference: https://www.youtube.com/watch?v=ycztOGTIX-s

### Ingredients (./configure)

In [2]:
flour = c.flour(7,"cups")
water = c.water(2.4,"cups")
oil = c.oil(7,"tbsp")
sugar = c.sugar(7,"tbsp")
salt = c.salt(1,"tbsp")
yeast = c.yeast(1,"tbsp")
milk = c.milk(4,"tbsp")

### Combine Ingredients (make)

In [3]:
bread = pd.concat([flour,water,oil,sugar,salt,yeast,milk])
bread.loc['Total'] = bread.sum()

### Deploy Bread

#### Set Constraints

In [4]:
bread / 2 # lets make a half recipe

          grams  tbsp      cup      cost  unit_cost  unit_quantity  calories
flour  448.0000  56.0  3.50000  0.255717      0.645       0.198230    1792.0
water  283.8912  19.2  1.20000  0.000000      0.000       0.000000       0.0
oil     49.7000   3.5  0.21875  0.330835      6.640       0.024912     447.3
sugar   42.0000   3.5  0.21875  0.050818      1.095       0.023204     157.5
salt     9.0000   0.5  0.03125  0.005495      0.225       0.012212       0.0
yeast    4.5000   0.5  0.03125  0.039251      3.960       0.004956       0.0
milk    14.0000   2.0  0.12500  0.308216      9.995       0.015419      70.0
Total  851.0912  85.2  5.32500  0.990332     22.560       0.278933    2466.8

In [5]:
2466 / 250 # divid into 250 cal pieces

9.864

In [6]:
851 / 10

85.1

In [7]:
import bakers_percentage as bp
bp.calc(bread)

,grams,tbsp,cup,cost,unit_cost,unit_quantity,calories,bakers percentage
flour,896.0000,112.0,7.0000,0.511434,1.29,0.396460,3584.0,
water,567.7824,38.4,2.4000,0.000000,0.00,0.000000,0.0,63.368571
oil,99.4000,7.0,0.4375,0.661670,13.28,0.049825,894.6,11.09375
sugar,84.0000,7.0,0.4375,0.101635,2.19,0.046409,315.0,
salt,18.0000,1.0,0.0625,0.010991,0.45,0.024423,0.0,2.008929
yeast,9.0000,1.0,0.0625,0.078502,7.92,0.009912,0.0,1.004464
milk,28.0000,4.0,0.2500,0.616432,19.99,0.030837,140.0,
Total,1702.1824,170.4,10.6500,1.980664,45.12,0.557866,4933.6,