In [1]:
import convert as c
import pandas as pd

## Basic Bread

Reference: https://www.youtube.com/watch?v=ycztOGTIX-s

### Ingredients (./configure)

In [2]:
flour = c.flour(7,"cups")
water = c.water(3,"cups")
oil = c.oil(7,"tbsp")
sugar = c.sugar(7,"tbsp")
salt = c.salt(0.75,"tbsp")
yeast = c.yeast(2,"tbsp")
milk = c.milk(4,"tbsp")

### Combine Ingredients (make)

In [3]:
bread = pd.concat([flour,water,oil,sugar,salt,yeast,milk])
bread.loc['Total'] = bread.sum()

### Deploy Bread

#### Set Constraints

In [4]:
half = bread / 2 # lets make a half recipe
half

         grams    tbsp       cup      cost  unit_cost  unit_quantity  calories
flour  448.000  56.000  3.500000  0.255717      0.645       0.198230    1792.0
water  354.864  24.000  1.500000  0.000000      0.000       0.000000       0.0
oil     49.700   3.500  0.218750  0.330835      6.640       0.024912     447.3
sugar   42.000   3.500  0.218750  0.050818      1.095       0.023204     157.5
salt     6.750   0.375  0.023438  0.004121      0.225       0.009159       0.0
yeast    9.000   1.000  0.062500  0.078502      3.960       0.009912       0.0
milk    14.000   2.000  0.125000  0.308216      9.995       0.015419      70.0
Total  924.314  90.375  5.648438  1.028209     22.560       0.280836    2466.8

In [5]:
import bakers_percentage as bp
bp.calc(half)

,grams,tbsp,cup,cost,unit_cost,unit_quantity,calories,bakers percentage
flour,448.000,56.000,3.500000,0.255717,0.645,0.198230,1792.0,
water,354.864,24.000,1.500000,0.000000,0.000,0.000000,0.0,79.210714
oil,49.700,3.500,0.218750,0.330835,6.640,0.024912,447.3,11.09375
sugar,42.000,3.500,0.218750,0.050818,1.095,0.023204,157.5,
salt,6.750,0.375,0.023438,0.004121,0.225,0.009159,0.0,1.506696
yeast,9.000,1.000,0.062500,0.078502,3.960,0.009912,0.0,2.008929
milk,14.000,2.000,0.125000,0.308216,9.995,0.015419,70.0,
Total,924.314,90.375,5.648438,1.028209,22.560,0.280836,2466.8,