In [1]:
import convert as c
import pandas as pd

## Basic Bread

Reference: https://www.youtube.com/watch?v=ycztOGTIX-s

### Ingredients (./configure)

In [10]:
flour = c.flour(7,"cups")
water = c.water(2.9,"cups")
oil = c.oil(5,"tbsp")
sugar = c.sugar(5,"tbsp")
salt = c.salt(1,"tbsp")
yeast = c.yeast(1,"tbsp")
# milk = c.milk(4,"tbsp") # removing milk

### Combine Ingredients (make)

In [11]:
bread = pd.concat([flour,water,oil,sugar,salt,yeast])
bread.loc['Total'] = bread.sum()

### Deploy Bread

#### Set Constraints

In [12]:
half = bread / 2 # lets make a half recipe

In [13]:
2466 / 250 # divid into 250 cal pieces

9.864

In [14]:
851 / 10

85.1

In [15]:
import bakers_percentage as bp
bp.calc(half)

,grams,tbsp,cup,cost,unit_cost,unit_quantity,calories,bakers percentage
flour,448.0000,56.0,3.50000,0.255717,0.645,0.198230,1792.0,
water,343.0352,23.2,1.45000,0.000000,0.000,0.000000,0.0,76.570357
oil,35.5000,2.5,0.15625,0.236311,6.640,0.017794,319.5,7.924107
sugar,30.0000,2.5,0.15625,0.036298,1.095,0.016575,112.5,
salt,9.0000,0.5,0.03125,0.005495,0.225,0.012212,0.0,2.008929
yeast,4.5000,0.5,0.03125,0.039251,3.960,0.004956,0.0,1.004464
Total,870.0352,85.2,5.32500,0.573072,12.565,0.249767,2224.0,