In [2]:
import convert as c
import pandas as pd

## Crab Rangoonies

Reference: https://foodwishes.blogspot.com/2015/10/crab-rangoon-rhymes-with-swoon.html

### Ingredients (./configure)

In [34]:
flour = c.flour(2,"cups")
water = c.water(0.3333,"cups")
salt = c.salt(4.5,"grams")
yeast = c.yeast(1,"tbsp")

# + 1 egg

### Combine Ingredients (make)

In [37]:
bread = pd.concat([flour,water,salt])
bread.loc['Total'] = bread.sum()
bread

,grams,tbsp,cup,cost,unit_cost,unit_quantity,calories
flour,256.000000,32.0000,2.000000,0.146124,1.29,0.113274,1024.0
water,78.850781,5.3328,0.333300,0.000000,0.00,0.000000,0.0
salt,4.500000,0.2500,0.015625,0.002748,0.45,0.006106,0.0
Total,339.350781,37.5828,2.348925,0.148872,1.74,0.119380,1024.0

### Deploy Bread

#### Set Constraints

In [38]:
bread / 2 # lets make a half recipe

,grams,tbsp,cup,cost,unit_cost,unit_quantity,calories
flour,128.00000,16.0000,1.000000,0.073062,0.645,0.056637,512.0
water,39.42539,2.6664,0.166650,0.000000,0.000,0.000000,0.0
salt,2.25000,0.1250,0.007812,0.001374,0.225,0.003053,0.0
Total,169.67539,18.7914,1.174462,0.074436,0.870,0.059690,512.0